@media only screen and (min-width: 992px)    {

  .backgroundImage .texto {
    position: absolute;
    top: 28%; 
    left: 14%; 
    color: white;
    line-height: 1.5;
    font-size: 30px;
    font-weight: 200;
  }

  .backgroundImage h1 {
    width: 50%;
    margin: auto auto auto auto;
    background-color: #808080cf;
    display: none;
  }
}