@media only screen and (min-width: 992px)    {

  .backgroundImage .texto {
    position: absolute;
    top: 28%; 
    left: 14%; 
    color: white;
    line-height: 1.5;
    font-size: 30px;
    font-weight: 200;
  }

  .backgroundImage h1 {
    width: 50%;
    margin: auto auto auto auto;
    background-color: #808080cf;
    display: none;
  }
  .flash-cards{
    margin-bottom: 10px;
  }

  .sectionSobre{
    margin: auto;
    text-align: center;
    border: 1px solid black;
  }
  
  section .section2 {
    margin: auto;
    padding: 20px 0 20px 0;
   
  }

  section .section2 img{

    height: 150vh;
    
    max-width: 100%;
    border: 1px solid var(--4);
    border-radius: 10px;
   
  } 
}