@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


:root{
 --1: #D51818;
 --2: 30526;
 --3: #FFFFFF;
 --4: #808080;
 --5:  "Montserrat", sans-serif;
}

body{
  background-color: #F1F5FA;
}

nav {
    background-color: #30526B;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--4);
  }


  
  .logo img {
    max-height: 70px; /* Defina a altura máxima do seu logo */
  }
  
  ul {
    list-style-type: none;
    display: flex;
  }
  
  li {
    margin-left: 20px;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }

  #menu{
    display: none;
  }

  .backgroundImage{
    background: url('../images/header_img3.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* ajuste o tamanho da imagem para cobrir o conteiner */
    background-position: center; /* centralize a imagem dentro do conteiner */
    height: 600px;
    position: absolute;
    width: 100%; /* ajuste a largura para ocupar toda a largura da tela */
    overflow: hidden; /* ocultar o excesso de imagem */
  }
  
  

  .backgroundImage .texto {
    position: absolute;
    top: 32%; 
    left: 14%; 
    color: white;
    line-height: 1.5;
    font-size: 23px;
    font-weight: 200;
  }

@media (max-width: 600px) and (min-width: 540px){

  .itemsInit{
    display: none;
   }

  
  
   #menu{
    display: block;
    font-size: 2em;
    color: white;
    cursor: pointer;
    margin-left: 20px;
   }
  
   .logo{
    margin-top: 10px;
   }
  
   .logo img{
    margin-left: -20%;
    max-height: 50px;
   }
  
  
.backgroundImage .texto {
  position: absolute;

  top: 36%; 
 
  color: white; 
  line-height: 1.2;
  font-size: 1.4em;
  cursor: pointer;
}
}

@media (max-width: 539px){
 .itemsInit{
  display: none;
 }

 #menu{
  display: block;
  font-size: 2em;
  color: white;
  cursor: pointer;
  margin-left: 20px;
 }

 .logo{
  margin-top: 10px;
 }

 .logo img{
  margin-left: -20%;
  max-height: 50px;
 }

 .backgroundImage{

 }

.backgroundImage .texto {
  position: absolute;
  
  top: 38%; 
  margin-left: -5px;
  color: white;
  line-height: 1.2;
  font-size: 1.2em;
  cursor: pointer;
}

 .arq-moderna:hover{
  font-size: 1.2em;
  
}


}

@media (max-width: 450px){
  .backgroundImage .texto {
    position: absolute;
  
    margin-left: -15px;
    color: white; 
    line-height: 1.2;
    font-size: 1.1em;
    text-align: left;
  }


}


@media (max-width: 370px){
  .backgroundImage .texto {
    position: absolute;
    margin-left: -40px;
 
    color: var(--3); 
    line-height: 1.2;
    font-size: 1.1em;

  }


}



.listMobile{
  display: none;
  background-color: #282828f3;
  position: absolute;
  z-index: 1000;
  right: 5%;
  width: 90%;
  margin-top: 2px;
}

.listMobile ul{
  text-align: center;
  display: flex;
  flex-direction: column;
}

.listMobile ul li{
  
  color: white;

  border-bottom: 1px solid white;
  padding: 10px; /*  padding para melhor espaçamento */
  margin: 1px; /* margem para melhor espaçamento */
}

.listMobile ul li:hover{
  color: #595959;
  cursor: pointer;
}




.btnHeader{
  all: unset;
  position: absolute;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: var(--1);
  padding: 15px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}

.btnHeader:hover{
  background-color: #ee690a;
  color: white;
}

.backgroundImage h1{
  text-align: center;
  color: white;
  margin-top: 40px;
  font-weight: 100;
  text-decoration: underline;
  text-decoration-color: #22C1AA;
  text-decoration-thickness: 1px; /* Definir a espessura do sublinhado */
  text-underline-offset: 10px; /* Definir a distância entre o texto e o sublinhado */
  margin-bottom: 10px;
  
}


.cart-1{
  display: block;
  position: relative;
  z-index: 1100;
  color: black;
  width: 300px;
  height: 210px;
  margin: 550px auto auto auto;
  background-color: var(--3);
  border: 1px solid #135B82;
  border-radius: 20px;
}

.cart-1 h1{
  font-size: 20px;
  text-align: center;
  color: #053D57;
  font-weight: 700;
  margin-top: 25px;
  font-family: var(--5);
}

.cart-1 p{

  text-align: justify;
  margin: 15px auto auto auto;
  max-width: 250px;
 color: #135B82;
}

.cart-2{
  display: block;
  position: relative;
  z-index: 1100;
  color: black;
  width: 300px;
  height: 300px;
  margin: 50px auto auto auto;
  background-color: var(--3);
  border: 1px solid #135B82;
  border-radius: 20px;
}

.cart-2 h1{
  font-size: 20px;
  text-align: center;
  color: #053D57;
  font-weight: 700;
  margin-top: 25px;
  font-family: var(--5);
}

.cart-2 p{
 
  text-align: justify;
margin: 0;
  padding: 20px;

  color: #135B82;
}

.cart-3{
  display: block;
  position: relative;
  z-index: 1100;
  color: black;
  width: 300px;
  height: 300px;
  margin: 50px auto auto auto;
  background-color: var(--3);
  border: 1px solid #135B82;
  border-radius: 20px;
}

.cart-3 h1{
  font-size: 20px;
  text-align: center;
  color: #053D57;
  font-weight: 700;
  margin-top: 25px;
  font-family: var(--5);
}

.cart-3 p{
 
  text-align: justify;
margin: 0;
  padding: 20px;

  color: #135B82;
}

.sobre{
  background-color: white;
}

.sobre div h1{
  text-align: center;
  line-height: 1em;
  margin: 0px 0 10px 0;
  padding-top: 30px;
  color: #053D57;
}

.sobre div{
  width: 70%;
  margin: 10px auto auto auto;
  font-family: var(--5);
}

.sobre div p{
  color: #21536A;
  font-weight: 400;
}

section .section1, .section2{
  margin:20px auto auto auto;
  text-align: center;
}

section .section1 img{
  /* background-image: url(../images/main_1.jpg);
  background-repeat: no-repeat;
  background-size: contain; 
  background-position: center;  */
  height: 300px;
  
  max-width: 100%; /* ajuste a largura para ocupar toda a largura da tela */
  border: 1px solid var(--4);
  border-radius: 10px;
  margin-top: 10px;
  
}

section .section2 img{

  height: 300px;
  
  max-width: 100%; /* ajuste a largura para ocupar toda a largura da tela */
  border: 1px solid var(--4);
  border-radius: 10px;
  margin-top: 10px;
} 

article{
  background-color: white;
  padding-top: 15px;
  max-width: 100%;
}

article span{
  color: var(--1);
}

article .texto{
 margin-left: 10px;
 max-width: 80%;
}

article .texto > h1{
  margin-top: 10px;
  font-weight: bold;
  color: #053D57;
}

article p{
  text-align: justify;

}

article .texto .verMais{
  background-color: var(--1);
  padding: 5px 50px 5px 50px;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 20px;
  border: none;
}

.tes{
  margin-top: 20px;
}

.tes .imgTeste{
  max-width: 100%;

}

section > h1{
  color: #053D57;
  text-align: center;
}

.projects {
  padding-top: 10px;
 
}

.projects  #sec1, #sec2, #sec3 {
  border: none;
  height: 350px;
  border-radius: 0px;
}